.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}

.modal {
    width: 15rem;
    height: 150px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 20px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    transform: translateY(-100vh);
    z-index: 10;
}
    

body {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 , .confirm-modal , .close-modal {
    margin-top: 1rem;
    margin-left: 1rem;
}

.btn {
    background-color: #55ACEE;
    color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 5px;
    border: #CCD6DD;
}

.modaltext {
    margin-left: 1rem;
}