.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}

.modal {
    z-index: 10;
    width: 20rem;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 20px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    transform: translateY(-100vh);
}

body {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}